<div class="card" onmouseEnter={{action 'showButtons'}} onmouseLeave={{action 'showButtons'}}>
  <div class="card-body pt-0">
    <div class="d-flex justify-content-between">
      <div class="h5 card-title mt-3">{{action.type}}</div>
      <div class="d-flex justify-content-end">
        {{#if showButtons}}
          <button type="button" class="btn btn-link text-dark">
            <i class="mdi mdi-eye"></i>
          </button>
          <button type="button" {{action 'showEdit' action.id}} class="btn btn-link text-{{if showEdit 'success' 'dark'}}">
            <i class="mdi mdi-{{if showEdit 'check-outline' 'pencil'}}"></i>
          </button>
          {{#if showEdit}}
            <button type="button" {{action 'showEdit' 'cancel'}} class="btn btn-link text-dark">
              <i class="mdi mdi-close-outline"></i>
            </button>
          {{/if}}
          <button type="button" {{action 'removeAction' action.id}} class="btn btn-link text-danger">
            <i class="mdi mdi-delete"></i>
          </button>
        {{/if}}
      </div>
    </div>
    {{#if showEdit}}
      {{#if (eq action.type 'hide')}}
        {{actions/edit-hide updater=updater target=action.value.target}}
      {{else if (eq action.type 'show text')}}
        {{actions/edit-show-text updater=updater html=action.value.html}}
      {{else if (eq action.type 'show image')}}
        {{actions/edit-show-image updater=updater image=action.value.image imageLoaded=true}}
      {{else if (eq action.type 'show video')}}
        {{actions/edit-show-video updater=updater video=action.value.video videoLoaded=true}}
      {{else if (eq action.type 'show qna')}}
        {{#if (eq action.value.type "sans") }}
          {{actions/edit-show-qna updater=updater type="sans" linkedQna=action.value.linkedQna sansQuestion=action.value.sansQuestion sansAnswer=action.value.sansAnswer}}
        {{/if}}
        {{#if (eq action.value.type "fill") }}
          {{actions/edit-show-qna updater=updater type="fill" linkedQna=action.value.linkedQna fillQuestion=action.value.fillQuestion fillAnswer=action.value.fillAnswer}}
        {{/if}}
        {{#if (eq action.value.type "mulc") }}
          {{actions/edit-show-qna updater=updater type="mulc" linkedQna=action.value.linkedQna mulcQuestion=action.value.mulcQuestion mulcAnswer=action.value.mulcAnswer}}
        {{/if}}
      {{else if (eq action.type 'show directions')}}
        {{actions/edit-show-directions updater=updater text=action.value.text}}
      {{else if (eq action.type 'play')}}
        {{actions/edit-play updater=updater sound=action.value.sound soundLoaded=true}}
      {{else if (eq action.type 'record')}}
        {{#if (eq action.value.type "fixed") }}
          {{actions/edit-record updater=updater type=action.value.type length=action.value.length}}
        {{/if}}
        {{#if (eq action.value.type "variable") }}
          {{actions/edit-record updater=updater type=action.value.type length=action.value.length ratio=action.value.ratio}}
        {{/if}}
      {{else if (eq action.type 'pause')}}
        {{actions/edit-pause updater=updater timeout=action.value.timeout}}
      {{else}}
        {{actions/edit-noop}}
      {{/if}}
    {{else}}
      <div class="card-text">
        {{#if (eq action.type 'hide')}}
          {{#if (eq action.value.target 'text')}}
            Text box
          {{else if (eq action.value.target 'directions')}}
            Directions box
          {{else if (eq action.value.target 'button')}}
            Comparison button
          {{/if}}
        {{else if (eq action.type 'show text')}}
          {{{action.value.html}}}
        {{else if (eq action.type 'show image')}}
          <div class="d-flex justify-content-center align-items-center">
            <img src="{{action.value.image}}" style="max-width: 100%; max-height: 300px;">
          </div>
        {{else if (eq action.type 'show video')}}
          <div class="d-flex justify-content-center align-items-center">
            <video controls style="width: 100%; max-height: 300px;">
              <source src="{{action.value.video}}">
            </video>
          </div>
        {{else if (eq action.type 'show qna')}}
          {{#if (eq action.value.type 'sans')}}
            {{action.value.sansQuestion}}, {{action.value.sansAnswer}}
          {{else if (eq action.value.type 'fill')}}
            {{action.value.fillQuestion}}, {{action.value.fillAnswer}}
          {{else if (eq action.value.type 'mulc')}}
            {{action.value.mulcQuestion}}, {{action.value.mulcAnswer}}
          {{/if}}
        {{else if (eq action.type 'show directions')}}
          {{action.value.text}}
        {{else if (eq action.type 'play')}}
          <div class="d-flex justify-content-center align-items-center">
            <audio controls style="width: 100%;">
              <source src="{{action.value.sound}}">
            </audio>
          </div>
        {{else if (eq action.type 'record')}}
          {{#if (eq action.value.type 'fixed')}}
            {{action.value.type}}, {{action.value.length}}
          {{/if}}
          {{#if (eq action.value.type 'variable')}}
            {{action.value.type}}, {{action.value.length}}, {{action.value.ratio}}
          {{/if}}
        {{else if (eq action.type 'pause')}}
          {{action.value.timeout}}
        {{/if}}
      </div>
    {{/if}}
  </div>
</div>
