<div id="addLessonModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add new lesson</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Name</label>
          <input class="form-control" value={{newLessonName}} oninput={{action 'updateNewLessonName'}}>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" {{action 'addLesson' }} data-dismiss="modal">Continue</button>
      </div>
    </div>
  </div>
</div>

<div id="addExerciseModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add new exercise</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Name</label>
          <input class="form-control" value={{newExerciseName}} oninput={{action 'updateNewExerciseName'}}>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" {{action 'addExercise' }} data-dismiss="modal">Continue</button>
      </div>
    </div>
  </div>
</div>

<div id="addPageModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add new page</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Name</label>
          <input class="form-control" value={{newPageName}} oninput={{action 'updateNewPageName'}}>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" {{action 'addPage' }} data-dismiss="modal">Continue</button>
      </div>
    </div>
  </div>
</div>
