<div class="wrapper-quick-post">
  <ul class="nav nav-tabs border-0">
    <li class="nav-item">
      <a class="nav-link active show" data-toggle="tab" href="#edit">
        <i class="mdi mdi-pencil"></i> New script action
      </a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="card bg-light tab-pane fade show active" id="edit">
      <div class="m-3">
        <div class="form-row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Type script here" name="script-line" value="{{script}}" oninput={{action 'inputScript' value="target.value"}}>
          </div>
          <div class="col-auto d-flex justify-content-center">
            {{#if typeHasOption}}
              <button class="btn btn-link text-info script-line-accessory mr-1" disabled>
                <i class="mdi mdi-tune mdi-24px"></i>
              </button>
            {{/if}}
            {{#if scriptComplete}}
              <button {{action 'addAction'}} class="btn btn-link script-line-accessory">
                <i class="mdi mdi-send mdi-24px"></i>
              </button>
            {{else}}
              <button class="btn btn-link script-line-accessory" disabled>
                <i class="mdi mdi-send mdi-24px"></i>
              </button>
            {{/if}}
          </div>
        </div>
        {{#if typeHasOption}}
          <div class="m-3">
            {{#if (eq edit 'hide')}}
              {{actions/edit-hide updater=updater}}
            {{else if (eq edit 'show text')}}
              {{actions/edit-show-text updater=updater}}
            {{else if (eq edit 'show image')}}
              {{actions/edit-show-image updater=updater}}
            {{else if (eq edit 'show video')}}
              {{actions/edit-show-video updater=updater}}
            {{else if (eq edit 'show qna')}}
              {{actions/edit-show-qna updater=updater}}
            {{else if (eq edit 'show directions')}}
              {{actions/edit-show-directions updater=updater}}
            {{else if (eq edit 'play')}}
              {{actions/edit-play updater=updater}}
            {{else if (eq edit 'record')}}
              {{actions/edit-record updater=updater}}
            {{else}}
              {{actions/edit-noop}}
            {{/if}}
          </div>
        {{/if}}
        <div class="m-3">
          <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
            <button type="button" class="btn btn-dark btn-md">
              <i class="mdi mdi-book"></i> Browse
            </button>
            <div class="btn-group" role="group">
              <button id="btnGroupDrop2" type="button" class="btn btn-dark btn-md dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
              <div class="dropdown-menu" aria-labelledby="btnGroupDrop2">
                <a class="dropdown-item" href="javascript:void(0)" {{action 'stubComplete' 'hide'}}>Hide</a>
                <a class="dropdown-item" href="javascript:void(0)" {{action 'stubComplete' 'show' 'text'}}>Show text</a>
                <a class="dropdown-item" href="javascript:void(0)" {{action 'stubComplete' 'show' 'image'}}>Show image</a>
                <a class="dropdown-item" href="javascript:void(0)" {{action 'stubComplete' 'show' 'video'}}>Show video</a>
                <a class="dropdown-item" href="javascript:void(0)" {{action 'stubComplete' 'show' 'qna'}}>Show Q&A</a>
                <a class="dropdown-item" href="javascript:void(0)" {{action 'stubComplete' 'show' 'directions'}}>Show directions</a>
                <a class="dropdown-item" href="javascript:void(0)" {{action 'stubComplete' 'wait'}}>Wait</a>
                <a class="dropdown-item" href="javascript:void(0)" {{action 'stubComplete' 'play'}}>Play</a>
                <a class="dropdown-item" href="javascript:void(0)" {{action 'stubComplete' 'record'}}>Record</a>
                <a class="dropdown-item" href="javascript:void(0)" {{action 'stubComplete' 'pause'}}>Pause</a>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-dark btn-md">
            <i class="mdi mdi-code-tags"></i> Templates</button>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="asset">
      <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress,
        commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
    </div>
  </div>
</div>
