<div class="wrapper-quick-post">
  <ul class="nav nav-tabs border-0">
    <li class="nav-item">
      <a class="nav-link active show" data-toggle="tab" href="#edit">
        <i class="mdi mdi-pencil"></i> New {{if (eq type 'klass') 'class' type}}
      </a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="card bg-light tab-pane fade show active" id="edit">
      <div class="m-3">
        <div class="form-row">
          <div class="col">
            <input type="text" class="form-control" placeholder="Type name here" name="script-line" value="{{name}}" oninput={{action 'inputName' value="target.value"}}>
          </div>
          <div class="col-auto d-flex justify-content-center">
            {{#if nameComplete}}
              <button {{action 'addCollection'}} class="btn btn-link script-line-accessory">
                <i class="mdi mdi-send mdi-24px"></i>
              </button>
            {{else}}
              <button class="btn btn-link script-line-accessory" disabled>
                <i class="mdi mdi-send mdi-24px"></i>
              </button>
            {{/if}}
          </div>
        </div>
        <div class="m-3">
          <div class="btn-group" role="group">
            <a class="btn btn-link text-info disabled">
              <i class="mdi mdi-decagram-outline"></i>
            </a>
            {{#if (eq type 'klass')}}
              <a {{action 'prefixComplete' 'Class'}} class="btn btn-link text-info">Class</a>
              <a {{action 'prefixComplete' 'Course'}} class="btn btn-link text-info">Course</a>
            {{/if}}
            {{#if (eq type 'lesson')}}
              <a {{action 'prefixComplete' 'Lesson'}} class="btn btn-link text-info">Lesson</a>
              <a {{action 'prefixComplete' 'Story'}} class="btn btn-link text-info">Story</a>
              <a {{action 'prefixComplete' 'Chapter'}} class="btn btn-link text-info">Chapter</a>
            {{/if}}
            {{#if (eq type 'exercise')}}
              <a {{action 'prefixComplete' 'Exercise'}} class="btn btn-link text-info">Exercise</a>
              <a {{action 'prefixComplete' 'Scene'}} class="btn btn-link text-info">Scene</a>
              <a {{action 'prefixComplete' 'Dialog'}} class="btn btn-link text-info">Dialog</a>
            {{/if}}
            {{#if (eq type 'page')}}
              <a {{action 'prefixComplete' 'Page'}} class="btn btn-link text-info">Page</a>
              <a {{action 'prefixComplete' 'Dot'}} class="btn btn-link text-info">Dot</a>
              <a {{action 'prefixComplete' 'Slide'}} class="btn btn-link text-info">Slide</a>
            {{/if}}
          </div>
          <button type="button" class="btn btn-dark btn-md">
            <i class="mdi mdi-code-tags"></i> Templates</button>
        </div>
      </div>
    </div>
  </div>
</div>
