<div class="form-row">
  <div class="col">
    <div class="form-group form-row mb-0">
      <label class="col-form-label-sm">Target</label>
      <div class="col">
        <select class="form-control form-control-sm" onchange= {{action "setValueTarget" value="target.value"}}>
          <option disabled selected={{and (not-eq target "directions") (not-eq target "text") (not-eq target "button")}}>Please select</option>
          <option value="directions" selected={{eq target "directions"}}>Directions box</option>
          <option value="text" selected={{eq target "text"}}>Text box</option>
          <option value="button" selected={{eq target "button"}}>Comparison button</option>
        </select>
      </div>
    </div>
  </div>
</div>
