<div class="form-inline">
  <div class="form-group">
    <select class="form-control form-control-sm mr-2" onchange= {{action "setValueType" value="target.value"}}>
      <option disabled selected={{and (not-eq type "fixed") (not-eq type "variable")}}>Please select</option>
      <option value="fixed" selected={{eq type "fixed"}}>Fixed</option>
      <option value="variable" selected={{eq type "variable"}}>Variable</option>
    </select>
    <label class="mr-2">length</label>
  </div>
  <div class="form-group">
    {{#if (eq type "fixed") }}
      <label class="mr-2">for</label>
      <input class="form-control form-control-sm mr-2" value="{{length}}" oninput= {{action "setValueDuration" value="target.value"}}>
      <label>seconds</label>
    {{/if}}
    {{#if (eq type "variable") }}
      <label class="mr-2">using sound</label>
      <select class="form-control form-control-sm mr-2" value="{{length}}" onchange= {{action "setValueDuration" value="target.value"}}>
        <option disabled selected={{and (not-eq length "thisQuestion") (not-eq length "nextQuestion")}}>--</option>
        <option value="thisQuestion" selected={{eq type "thisQuestion"}}>from this page</option>
        <option value="nextQuestion" selected={{eq type "nextQuestion"}}>from next page</option>
      </select>
      <label class="mr-2">*</label>
      <input class="form-control form-control-sm" placeholder="ratio (e.g. 1.5)" value="{{ratio}}" oninput= {{action "setValueRatio" value="target.value"}}>
    {{/if}}
  </div>
</div>
