{{global-navbar}}
<div>
  <div class="row no-gutters">
    <div class="col col-md-9 p-3">
      <div class="d-flex align-items-center mb-5">
        <div style="width: 4em;"></div>
        <div class="w-100">
          {{simple-quick-post type='klass'}}
        </div>
      </div>
      {{#each model.klasses as |klass|}}
        <div class="d-flex align-items-center mb-3">
          <div class="d-flex justify-content-center" {{action "toggleSelect" klass.id}} style="width: 2em;">
            <span class="btn text-dark mr-3">
              <i class="mdi mdi-checkbox-{{if (array-contains selected.klasses klass.id) 'marked' 'blank'}}-outline"></i>
            </span>
          </div>
          <div class="d-flex justify-content-center noselect" style="width: 2em;">
            <span class="btn-light mr-3">
              <i class="mdi mdi-dots-vertical"></i>
            </span>
          </div>
          <div class="w-100">
            {{simple-card type='klass' id=klass.id name=klass.name}}
          </div>
        </div>
      {{/each}}
    </div>
    <div class="col col-md-3 p-3">
      {{sidebar-template-add hasSelected=hasSelected type='klasses'}}
    </div>
  </div>
</div>

{{global-modals}}
