{{global-navbar}}
<div>
  <div class="row no-gutters">
    <div class="col col-md-9 p-3">
      <div class="d-flex align-items-center mb-5">
        <div style="width: 4em;"></div>
        <div class="w-100">
          {{simple-quick-post type='lesson' parent='klass' parent_id=model.klass.id}}
        </div>
      </div>
      {{#sortable-objects sortableObjectList=model.lessons sortEndAction='sortEndAction' enableSort=true useSwap=true inPlace=false sortingScope="sortingGroup"}}
        {{#each model.lessons as |lesson|}}
          {{#draggable-object dragStartAction='sortStartAction' dragHandle='.noselect' content=lesson isSortable=true sortingScope="sortingGroup"}}
            {{#if (eq lesson.klass.id model.klass.id) }}
              <div class="d-flex align-items-center mb-3">
                <div class="d-flex justify-content-center" {{action "toggleSelect" lesson.id}} style="width: 2em;">
                  <span class="btn text-dark mr-3">
                    <i class="mdi mdi-checkbox-{{if (array-contains selected.lessons lesson.id) 'marked' 'blank'}}-outline"></i>
                  </span>
                </div>
                <div class="d-flex justify-content-center noselect" style="width: 2em;">
                  <span class="btn-light mr-3">
                    <i class="mdi mdi-dots-vertical"></i>
                  </span>
                </div>
                <div class="w-100">
                  {{#link-to 'lesson' model.klass.id lesson.id}}
                    <div class="card">
                      <div class="card-body pt-0">
                        <div class="d-flex justify-content-between">
                          <div class="h5 card-title mt-3">{{lesson.name}}</div>
                          <div class="card-text">
                          </div>
                        </div>
                      </div>
                    </div>
                  {{/link-to}}
                </div>
              </div>
            {{/if}}
          {{/draggable-object}}
        {{/each}}
      {{/sortable-objects}}
    </div>
    <div class="col col-md-3 p-3">
      {{sidebar-template-add hasSelected=hasSelected type='lessons'}}
      {{sidebar-overview klass=model.klass editable=true}}
    </div>
  </div>
</div>

{{global-modals}}
