{{global-navbar}}
<div>
  <div class="row no-gutters">
    <div class="col col-md-9 p-3">
      <div class="d-flex align-items-center mb-5">
        <div style="width: 4em;"></div>
        <div class="w-100">
          {{simple-quick-post type='exercise' parent='lesson' parent_id=model.lesson.id}}
        </div>
      </div>
      {{#sortable-objects sortableObjectList=model.exercises sortEndAction='sortEndAction' enableSort=true useSwap=true inPlace=false sortingScope="sortingGroup"}}
        {{#each model.exercises as |exercise|}}
          {{#draggable-object dragStartAction='sortStartAction' dragHandle='.noselect' content=exercise isSortable=true sortingScope="sortingGroup"}}
            {{#if (eq exercise.lesson.id model.lesson.id) }}
              {{#link-to 'exercise' model.klass.id model.lesson.id exercise.id}}
                <div class="d-flex align-items-center mb-3">
                  <div class="d-flex justify-content-center noselect" style="width: 4em;">
                    <span class="btn-light mr-3">
                      <i class="mdi mdi-dots-vertical"></i>
                    </span>
                  </div>
                  <div class="w-100">
                    <div class="card">
                      <div class="card-body pt-0">
                        <div class="d-flex justify-content-between">
                          <div class="h5 card-title mt-3">{{exercise.name}}</div>
                          <div class="card-text">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {{/link-to}}
            {{/if}}
          {{/draggable-object}}
        {{/each}}
      {{/sortable-objects}}
    </div>
    <div class="col col-md-3 p-3">
      {{sidebar-overview klass=model.klass lesson=model.lesson editable=true}}
    </div>
  </div>
</div>

{{global-modals}}
